<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A</string>
	<string>AA</string>
	<string>AAL</string>
	<string>AALII</string>
	<string>AAM</string>
	<string>AANI</string>
	<string>AARDVARK</string>
	<string>AARDWOLF</string>
	<string>AARON</string>
	<string>AARONIC</string>
	<string>AARONICAL</string>
	<string>AARONITE</string>
	<string>AARONITIC</string>
	<string>AARU</string>
	<string>AB</string>
</array>
</plist>	